ETHERSCAN_API_KEY = ABSD123...
BSCSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."
INFURA_ID_PROJECT = "abcd1234..."

# deploy constants

# gas limits constants
DEFAULT_OPERATIONS_GASLIMIT = 200000

# gas prices constants
ETH_MAINNET_GASPRICE = 20
BSC_MAINNET_GASPRICE = 5
MATIC_MAINNET_GASPRICE = 5
TESTNETS_GASPRICE = 20

SHIBAKEN =
DEX_ROUTER =
TIME_BOMB_CONTRACT =
TEAM_WALLET = 
RECIPIENT = 

https://kovan.etherscan.io/address/0x1802205F05502B42Ea149f8a44046DB2c21d1Cc5 sbomb
https://kovan.etherscan.io/address/0x51c98Fc50C704Ccfdfd0b646bEaF3aefBf490692 shibaken

VRF_COORDINATOR = 
LINK_ADDRESS = 
KEY_HASH = 
FEE = 
VALID_AMOUNT = 